canvas {
    image-rendering: pixelated;
    cursor: crosshair;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-wrapper {
    position: relative;
    width: 1554px;
    height: 778px;
}

#canvas-0 {
    background-color: black;
    z-index: 0;
}

#canvas-1 {
    z-index: 1;
}

#canvas-2 {
    z-index: 2;
}

#textarea {
    width: 1554px;
    height: 1554px;
    margin: 0;
    padding: 0;
}